{% extends "base.html" %}
{% load static %}

{% block title %}𝐚𝐫𝐭𝐢𝐜𝐥𝐞 | {{ posts.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/view_post.css' %}" />
{% endblock %}

{% block content %}
<div class="container" id="header-menu">
    <a href="{% url 'index' %}">Home</a>
    <a>Media</a>
    <a>About</a>
    <a>Copyright</a>
</div>

<div class="container" id="post-content">
    <div class="row g-5">
        <a href="#comment-wrapper" id="jump-comment">go to comments</a>

        <div class="col-xl-7 col-12" id="content-wrapper">
            <h1>{{ posts.title }}</h1>
            <h4>{{ posts.description }}</h4>
            <div>{{ posts.detail }}</div>
        </div>

        <div class="col-xl-5 col-12" id="comment-wrapper">
            <h1>Comments</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class=" comment-input-wrapper">
                    {% if not username %}
                    <input name="detail" id="comment-input" placeholder="commenting as anonymous..."></input>
                    {% else %}
                    <input name="detail" id="comment-input" placeholder="commenting as {{ username }}"></input>
                    {% endif %}
                </div>
                <button name="create_comment" id="comment-submit" type="submit">&#8620;</button>
                <input name="create_comment" type="submit" hidden></input>
            </form>

            <div class="row p-3" id="comment-section">
                {% if comments|length == 0 %}
                <div class="comment-content">no comments yet</div>
                {% endif %}
                {% for comment in comments %}
                <div class="col-12 comment gy-4" id="comment-{{ comment.id }}">
                    <div class="row">
                        <div class="col-6 p-0 comment-author">
                            {{ comment.author_name }}
                        </div>
                        <div class="col-6 comment-action">
                            {% if role == '0' or role == '1' %}
                            <a href="{% url 'hide_comments' comment.id %}">Hide</a>
                            <a href="{% url 'delete_comments' comment.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="comment-content">
                        {{ comment.detail }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}