{% extends "base.html" %}
{% load static %}

{% block title %}𝐚𝐫𝐭𝐢𝐜𝐥𝐞 | {{ posts.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/view_post.css' %}" />
{% endblock %}

{% block content %}
<div class="container" id="header-menu">
    <a href="{% url 'index' %}">Home</a>
    <a>Media</a>
    <a>About</a>
    <a href="{% url 'feedback' %}">Feedback</a>
</div>

<div class="container" id="post-content">
    <div class="row g-5">
        <a href="#comment-wrapper" id="jump-comment">jump to bottom</a>

        <div class="col-xl-7 col-12" id="content-wrapper">
            <h1>{{ posts.title }}</h1>
            <h4>{{ posts.description }}</h4>
            <div>{{ posts.detail }}</div>
        </div>

        <div class="col-xl-5 col-12" id="comment-wrapper">
            {% if username %}
            <h1>Ratings</h1>
            <div class="row mb-2" id="rating-section">
                <form action="" method="POST" id="ratings-form">
                    {% csrf_token %}
                    {% if ratings %}
                    <div id="current-rating" hidden>{{ ratings.rating }}</div>
                    {% endif %}
                    <a class="ratings">&#9733;</a>
                    <a class="ratings">&#9733;</a>
                    <a class="ratings">&#9733;</a>
                    <a class="ratings">&#9733;</a>
                    <a class="ratings">&#9733;</a>
                    {% if average_rating %}
                    <span id="average-rating">avg. {{ average_rating }}</span>
                    {% endif %}
                    <input name="rating-input" type="hidden" id="rating-input">
                    <button name="ratings_form" type="submit" id="rating-submit" hidden></button>
                </form>
            </div>
            {% endif %}

            <h1>Comments</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="comment-input-wrapper">
                    {% if not username %}
                    <input name="detail" id="comment-input" placeholder="commenting as anonymous..."></input>
                    {% else %}
                    <input name="detail" id="comment-input" placeholder="commenting as {{ username }}"></input>
                    {% endif %}
                </div>
                <button name="create_comment" id="comment-submit" type="submit">&#8620;</button>
            </form>

            <div class="row p-3" id="comment-section">
                {% if comments|length == 0 %}
                <div class="comment-content">no comments yet</div>
                {% endif %}
                {% for comment in comments %}
                <div class="comment gy-4" id="comment-{{ comment.id }}">
                    <div class="row">
                        <div class="col-6 p-0 comment-author">
                            {{ comment.author_name }}
                        </div>
                        <div class="col-6 comment-action">
                            {% if role == '0' or role == '1' %}
                            <a href="{% url 'hide_comments' comment.id %}">Hide</a>
                            <a href="{% url 'delete_comments' comment.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="comment-content">
                        {{ comment.detail }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/ratinginput.js' %}"></script>
{% endblock %}