#header-menu {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

#post-content {
    margin-top: 15vh;
}

#content-wrapper > * {
    margin-bottom: 25px;
}

#content-wrapper > div {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: justify;
}

#darkmode-wrapper {
    position: sticky;
    right: 0;
}

#darkmode-wrapper > a {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
}

#jump-comment {
    font-family: "Zen Kaku Gothic New", sans-serif;
    display: none;
}

.ratings {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#average-rating {
    color: grey;
    font-size: 14px;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

#comment-input {
    padding: 0 20px 0 20px;
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0;
    border-bottom: 2px solid var(--color) !important;
    outline: 0;
    caret-color: var(--color);
    font-size: 0.8rem !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--color);
    padding-bottom: 5px;
    width: 100%;
}

#comment-wrapper > form {
    position: relative;
}

#comment-submit {
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    transition: color 0.3s;
    color: var(--color);
    position: absolute;
    right: 0;
    top: 0;
    transition: color 0.3s;
}

#comment-submit:hover {
    color: var(--a-highlight);
}

.comment {
    position: relative;
}

.comment-author {
    position: relative;
    left: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.comment-action {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-align: right;
}

.comment-content {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 14px;
    color: lightgrey;
}

h1 {
    font-family: "Raleway", sans-serif;
}

h4 {
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1200px) {
    #jump-comment {
        display: block;
    }
}
